<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="./css/style.css">
    <title>
        {{title}}
    </title>
    <body>
        <div class="main-content">
            {{>header}}
            <br/>
            <img class="portrait" src="./img/Bravo.PNG">
        </div>
        {{>footer}}
    </body>
</html>