<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="./css/style.css">
    <title>
        {{title}}
    </title>
    <body>
        <div class="main-content">
            {{>header}}
            <p>{{content}}</p>
        </div>
        {{>footer}}
    </body>
</html>